h4 {
    color: #495057;
}

.font-weight-bold {
    font-weight: 500;
    line-height: 12px;
}

.small-font {
    font-weight: 400;
    font-size: 14px;
}

.profile-pic {
    height: 75px;
    margin: 5px;
}

.dropdown-item {
    padding-top: 15px;
}

.notification-title {

}

.notification-time {
    color: #737D85;
    font-size: 10px;
}

.main-content {
    padding: 10px 10px;
}

.card {
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: .25rem;
    margin-bottom: 15px;
}

.font-sizei {
    font-size: 45px !important;
}

.media .fa {
    font-size: 45px;
    padding-right: 15px;
}

.media-body {
    padding: 10px;
}

.breadcrumb {
    background: transparent;
    padding: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item {
    border: none;
}

.list-group-item a {
    color: #656F7B;
}

.list-group-item + .list-group-item {
    border-radius: 0px;
    border: none;
    border-top: 1px solid #e1e6f1;
}

/*Chart css start*/
#barChart {
    height: 400px;
    width: 100%;
}

#pieChart, #lineChart {

    width: 100%;
}

.card .card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-card {
    margin-bottom: 20px;
    border: 0;
    box-shadow: 0 8px 16px 0 rgba(162, 169, 204, .24);
}

/*
Chart css start*/

/*Timeline CSS start*/

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #3285EF;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #3285EF;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*Timeline CSS start*/

.footer-section {
    bottom: 0;
    /* width: 103%; */
    background-color: #fff;
    margin-top: auto;
    padding: 15px 0px;
}

p {
    margin-top: 0;
    margin-bottom: 0px;
}

.card-headline {
    color: #4a4a4a;
}

/*Data table css start*/
/*.dt-buttons {
    width: 30%;
    float: right;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: 328px;
    margin-top: -37px;
    padding: -25px;
}
.btn-group-vertical > .btn, .btn-group > .btn {

    background:#3285EF;
    padding: 5px;
    border: 1px solid #3285EF;
}
.btn-group-vertical > .btn, .btn-group > .btn:hover {

    background: #044677;
    border: 1px solid #3285EF;
}*/
/*Data table css start*/

/*Chatting CSS Start*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.messages-box,
.chat-box {
    height: 470px;
    overflow-y: scroll;
}

/*Chatting CSS End*/
.img-grid {
    margin: 25px 0px;
}

/*CSS for Gallery page start*/

/*CSS for Gallery page end*/

/*CSS for Calender page start*/
.fc-button {
    padding: 5px;
    border: 0px;
}

.fc-toolbar h2 {
    margin: 0;
    font-size: 20px;
    color: #495057;
}

/*CSS for Calender page end*/

/*CSS for Calender page start*/
.btn-pill {
    border-radius: 20px;
}
.btn {
    border-radius: 2px;
}
.button-group .btn{
    margin: 5px;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #2bb683;
    border-color: #29ab7b;
}
.btn-success:hover {
    color: #fff;
    background-color: #2ec08a;
    border-color: #2bb683;
}
.btn-warning {
    color: #ffffff;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #ffffff;
}

.btn-outline-warning:hover {
    color: #ffffff;
}
.btn-danger {
    color: #ffffff;
    background-color: #fa6767;
    border-color: #fa6767;
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #F94242;
    border-color: #F94242;
}
.btn-outline-danger:hover {
    border-color: #F94242;
}


/*CSS for Calender page end*/


/*CSS for Alert page start*/
.alert {
    padding: 7px 10px;
}

/*CSS for Alert page end*/


/*CSS for Map page start*/
#googleMap,#googleMap2,#googleMap3{
    height: 350px;
}
/*CSS for Map page end*/



/*CSS for Product Details page start*/
.rating .fa{
    font-size: 17px;
    color: #F9BC0D;
}
.padding-bottom{
    padding-bottom: 7px;
}

.row-space{
    margin-top: 50px;
}
.row-space-10{
    margin-top: 25px;
}
.list-group-item + .list-group-item {
    border-radius: 0px;
    border: none;
    border-top:none;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.list-group-item + .list-group-item {
    border-radius: 0px;
    border: none;
    border-top: none;
    padding-left: 0px;
}
/*CSS for Product Details page end*/


